@import "../../../variables";

footer {
  height: $footer-height;
  //padding: 10px;
}

.footer-body {
  padding: 10px;
  color: $tweetster-blue;
  background-color: $footer-bg-color;

  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-content: center;
}

app-footer-address, app-footer-privacy {
  flex-basis: 20%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
}

.footer-body-logo img {
  width: 200px;
}

app-footer-deco {
  position: relative;
  width: 100%;
  z-index: -1;
}
