@import "../../../../variables";

nav {
  display: flex;
  flex-direction: row;
  //justify-content: flex-end;
}

a {
  //color: $tweetster-blue;
  color: black;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
}
