<div id="message">

  <div id="message-avatar">
    <img id="message-avatar-img" src="../../../../../assets/logo/blue_bird_square.jpg">
  </div>

  <div id="message-content">

    <div id="message-content-user">
      <span id="message-content-user-displayname">Donald J. Trump</span>
      <i id="message-content-user-approved" class="fa fa-check-circle"></i>
      <span id="message-content-user-username">@realDonaldTrump</span>
      <span id="message-content-user-fill">·</span>
      <span id="message-content-user-timesince">8m</span>
    </div>

    <div id="message-content-message">
      <p>For the people that are now out of work because of the important and necessary containment policies, for instance the shutting down of hotels, bars and restaurants, money will soon be coming to you. The onslaught of the Chinese Virus is not your fault! Will be stronger than ever!</p>
    </div>

    <div id="message-content-attachment">
      <img id="message-content-attachment-img" src="../../../../../assets/corona_economy.png">
    </div>

    <div id="message-content-meta">

      <div id="message-content-meta-comments">
        <a><i class="fa fa-comments"></i><p>2.3K</p></a>
      </div>
      <div id="message-content-meta-retweets">
        <a><i class="fa fa-retweet"></i><p>2.3K</p></a>
      </div>
      <div id="message-content-meta-likes">
        <a><i class="fa fa-heart"></i><p>2.3K</p></a>
      </div>
      <div id="message-content-meta-share">
        <a><i class="fa fa-share"></i></a>
      </div>

    </div>

  </div>

</div>
