<div id="profile-card">
  <div id="profile-card-top">
    <img id="profile-card-cover" src="../../../../../assets/blue_blurred.jpg">
    <img id="profile-card-avatar" src="../../../../../assets/logo/blue_bird_square.jpg">
    <p id="profile-card-followbutton">Follow</p>
  </div>

  <div id="profile-card-info">

    <div id="profile-card-name">
      <h4 id="profile-card-name-display">Barack Obama</h4>
      <p id="profile-card-name-username">@Barack Obama</p>
    </div>

    <div id="profile-card-description">
      <p id="profile-card-description-text">Dad, husband, President, citizen.</p>
    </div>

    <div id="profile-card-details">
      <i class="fa fa-map-marker-alt" style="color: gray"></i><p id="profile-card-detail-location">Washington, DC</p>
      <i class="fa fa-link" style="color: gray"></i><p id="profile-card-detail-website">obama.org</p>
      <i class="fa fa-birthday-cake" style="color: gray"></i><p id="profile-card-detail-dateofbirth">Born August 4,1961</p>
      <i class="fa fa-calendar-alt" style="color: gray"></i><p id="profile-card-detail-joindate">Joined March 2007</p>
    </div>

    <div id="profile-card-follow">
      <p id="profile-card-follow-following">608.4K Following</p>
      <p id="profile-card-follow-followers">114M Followers</p>
    </div>

  </div>

</div>
