$vacit-orange: #F15A24;
$vacit-gray: #333333;
$tweetster-blue: #00B0F0;

$header-height: 145px;
$footer-height: 150px;

$header-bg-color: $vacit-gray;
$footer-bg-color: $vacit-gray;
$home-bg-color: cyan;
$body-bg-color: white;
